<html>
  <head>
    <link rel="stylesheet" href="/template/css/index.css">
  </head>
  <h1>
   
  </h1>
  <div class="center">
        <div class="flagstand"></div>
        <ul>
            <li></li>
            <li>
                <div class="round">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </li>
            <li></li>
        </ul>
        
    </div>
</html>